Repository Assil10/Monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: blockchain, backend, frontend, ai, docs, tests

.github/labeler.yml:

# This file maps file paths in a pull request to labels.
# When a file that matches one of the patterns is modified,
# the corresponding label will be automatically added to the PR.

blockchain:
  - "blockchain/**"
  - "smart-contracts/**"
  - "**/*.sol"         # Solidity smart contracts

backend:
  - "backend/**"
  - "server/**"
  - "api/**"
  - "database/**"
  - "services/**"      # any additional backend services folder

frontend:
  - "frontend/**"
  - "client/**"
  - "ui/**"
  - "**/*.jsx"
  - "**/*.tsx"
  - "**/*.html"
  - "**/*.css"
  - "**/*.scss"

ai:
  - "ai/**"
  - "ml/**"
  - "models/**"
  - "notebooks/**"
  - "**/*.ipynb"       # Jupyter notebooks for AI/ML work

docs:
  - "**/*.md"
  - "**/*.rst"

tests:
  - "tests/**"
  - "**/*.spec.js"
  - "**/*.test.js"
  - "**/*.spec.ts"
  - "**/*.test.ts"

blockchain workflow
  README1.md
Labels: docs

prob(chatbot:document retrieval
  AI/chatbot/chatbot.ipynb
  AI/chatbot/chatbot.py
  AI/chatbot/chroma_db/57324b33-b5ff-4bed-8a35-920734256555/header.bin
  AI/chatbot/chroma_db/57324b33-b5ff-4bed-8a35-920734256555/index_metadata.pickle
  AI/chatbot/chroma_db/57324b33-b5ff-4bed-8a35-920734256555/length.bin
  AI/chatbot/chroma_db/57324b33-b5ff-4bed-8a35-920734256555/link_lists.bin
  AI/chatbot/chroma_db/e6fc4c8a-c2a3-42b9-b4e6-4013fbb63970/header.bin
  AI/chatbot/chroma_db/e6fc4c8a-c2a3-42b9-b4e6-4013fbb63970/length.bin
  AI/chatbot/chroma_db/e6fc4c8a-c2a3-42b9-b4e6-4013fbb63970/link_lists.bin
  AI/chatbot/data.json
  AI/chatbot/data_combine.py
  AI/chatbot/data_en.json
  AI/chatbot/laws.json
  AI/chatbot/laws_en.json
  AI/chatbot/new_data.py
  AI/chatbot/process_data.py
  AI/chatbot/real_state.json
  AI/chatbot/real_state_en.json
  AI/chatbot/registration.json
  AI/chatbot/registration_en.json
  AI/chatbot/scrape_chat.py
Labels: ai

fix(chatbot):retirving documents works
  AI/chatbot/chatbot.ipynb
  AI/chatbot/chatbot.py
  AI/chatbot/chroma_db/40174e51-83f2-4143-b596-9c90df6e18bf/data_level0.bin
  AI/chatbot/chroma_db/40174e51-83f2-4143-b596-9c90df6e18bf/header.bin
  AI/chatbot/chroma_db/40174e51-83f2-4143-b596-9c90df6e18bf/length.bin
  AI/chatbot/chroma_db/40174e51-83f2-4143-b596-9c90df6e18bf/link_lists.bin
  AI/chatbot/chroma_db/e6fc4c8a-c2a3-42b9-b4e6-4013fbb63970/header.bin
  AI/chatbot/chroma_db/e6fc4c8a-c2a3-42b9-b4e6-4013fbb63970/length.bin
  AI/chatbot/chroma_db/e6fc4c8a-c2a3-42b9-b4e6-4013fbb63970/link_lists.bin
  AI/chatbot/data_en.json
  AI/chatbot/laws_en.json
  AI/chatbot/new_data.py
  AI/chatbot/process_data.py
  AI/chatbot/real_state_en.json
  AI/chatbot/registration_en.json
  AI/chatbot/scrape_chat.py
Labels: ai

feat(chatbot): chatbot that uses ollama3 with elevenlabs voice
  AI/chatbot/chatbot.py
  AI/chatbot/chroma_db/40174e51-83f2-4143-b596-9c90df6e18bf/data_level0.bin
  AI/chatbot/chroma_db/40174e51-83f2-4143-b596-9c90df6e18bf/header.bin
  AI/chatbot/chroma_db/40174e51-83f2-4143-b596-9c90df6e18bf/length.bin
  AI/chatbot/chroma_db/40174e51-83f2-4143-b596-9c90df6e18bf/link_lists.bin
  AI/chatbot/chroma_db_ar/64c5101f-feed-4eda-b601-62a797b12e87/data_level0.bin
  AI/chatbot/chroma_db_ar/64c5101f-feed-4eda-b601-62a797b12e87/header.bin
  AI/chatbot/chroma_db_ar/64c5101f-feed-4eda-b601-62a797b12e87/length.bin
  AI/chatbot/chroma_db_ar/64c5101f-feed-4eda-b601-62a797b12e87/link_lists.bin
  AI/chatbot/chroma_db_en/c85a6468-6420-4156-b3c9-cce5cf6534a4/data_level0.bin
  AI/chatbot/chroma_db_en/c85a6468-6420-4156-b3c9-cce5cf6534a4/header.bin
  AI/chatbot/chroma_db_en/c85a6468-6420-4156-b3c9-cce5cf6534a4/length.bin
  AI/chatbot/chroma_db_en/c85a6468-6420-4156-b3c9-cce5cf6534a4/link_lists.bin
  AI/chatbot/chroma_db_fr/eaed98c3-c53a-4aa6-91f6-39b83d12f0d1/data_level0.bin
  AI/chatbot/chroma_db_fr/eaed98c3-c53a-4aa6-91f6-39b83d12f0d1/header.bin
  AI/chatbot/chroma_db_fr/eaed98c3-c53a-4aa6-91f6-39b83d12f0d1/length.bin
  AI/chatbot/chroma_db_fr/eaed98c3-c53a-4aa6-91f6-39b83d12f0d1/link_lists.bin
  AI/chatbot/data.json
  AI/chatbot/data_ar.json
  AI/chatbot/data_en.json
  AI/chatbot/data_fr.json
  AI/chatbot/response.txt
  AI/chatbot/retrieved_documents.txt
  AI/chatbot/text_to_voice.py
  AI/chatbot/try,deep.py
Labels: none

PR modifications applied as per request
  front-mobile/src/app/auth/Login/forgotPassword/OTPReset.tsx
  front-mobile/src/app/auth/Login/forgotPassword/forgotPassword.tsx
  front-mobile/src/app/auth/Login/forgotPassword/resetDone.tsx
  front-mobile/src/app/auth/Login/forgotPassword/resetPassword.tsx
  front-mobile/src/app/auth/Login/index.tsx
  front-mobile/src/app/auth/Signup/password.tsx
  front-mobile/src/app/auth/Signup/verify.tsx
  front-mobile/src/app/index.tsx
  front-mobile/src/components/architect/OTPResetCard.tsx
  front-mobile/src/components/architect/forgotPasswordCard.tsx
  front-mobile/src/components/architect/passwordResetCard.tsx
  front-mobile/src/components/architect/signupcard.tsx
  front-mobile/src/components/ui/dateInput.tsx
  front-mobile/src/components/ui/passwordBarInput.tsx
  front-mobile/src/components/ui/passwordInput.tsx
Labels: frontend
